@model IEnumerable<BanSach.Models.OrderPro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trang</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Thời gian đặt hàng
        </th>
        <th>
           Địa chỉ đặt hàng
        </th>
        <th>
           Tên người đặt hàng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AddressDeliverry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.NameCus)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
