@model BanSach.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết</h2>

<div>
    <h4>Khách hàng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên khác hàng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameCus)
        </dd>

        <dt>
           Số điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneCus)
        </dd>

        <dt>
           Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.IDCus }) |
    @Html.ActionLink("Trở về danh sách", "Index")
</p>
